<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recruiter Dashboard</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#"><i class="fas fa-cube"></i> JobSphere</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="{% url 'rhome' %}"><i class="fas fa-home"></i> Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url 'rdashboard' %}"><i class="fas fa-dashboard"></i> Dashboard</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url 'postjob' %}"><i class="fas fa-job"></i> Post Job</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url 'applicants' %}"><i class="fas fa-briefcase"></i> Applicants</a></li>
          <li class="nav-item"><a class="nav-link active" href="{% url 'rprofile' %}"><i class="fas fa-user"></i> Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success">{{ message }}</div><br><br>
          {% endfor %}
   {% endif %}
    {% block content %}
    
    {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>